name: Generar Informe de Fallas 游늮

# Cuando quiero que se ejecute el flujo de trabajo
on:
  # Por tiempo
  #schedule:
    # Cada 30 segundos, por ejemplo
    #- cron: '*/30 * * * *'
  push:
    branches:
      - main

# Los pasos que se ejecutar치n para realizar una tarea
jobs:
  # En d칩nde se ejecutar치 el flujo de trabajo
  Generador-de-Reportes:
    name: M치quina Virtual de Ubuntu 游냖
    runs-on: ubuntu-latest

    # Permisos para hacer commit y push
    permissions:
      contents: write

    # Como se ejecutar치 el flujo de trabajo
    steps:
      - name: Leyendo el repositorio 游
        uses: actions/checkout@v4
      
      - name: Configurando Java 17 游닍
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '17'
      
      - name: Ejecutar aplicaci칩n de Spring Boot 游꼒
        run: mvn spring-boot:run -Dspring-boot.run.arguments=generar-reporte --file.output.path=/github/workspace/reporte.pdf
        
      - name: Realizar commit y push de cambios 游닋
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Add report file 游늮
          commit_user_name: Esteban [GitActions]